<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5" style="font-weight:bold; ">
                LIFE'S AMAZING SECRETS
            </h1><p class="lead">
            How to find balance and purpose in your life
        </p>

            <form action="/charge" method="POST">

                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_yDa5Ew4gZYXaGcCKumAy0NaB00zXM38NLQ"
                        data-amount="3000"
                        data-name="Life's Amazing Secrets"
                        data-description="A book written By Gaur Gopal Das"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
                <script>
                    //hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase for $30</button>
            </form>
        </div>

        <div class="col-md-6">
            <img src="/img/book.png" style="height: 500px;" alt="" class="img-fluid">
        </div>
    </div>
</section>