<section class="py-3">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">
        Your Book will be delivered in 1 business day!!!
    </p>
    <a href="/" class="btn btn-dark btn-lg">Home Page</a>
</section>